# Part 1

The file "Purchase_Data.csv" contains purchase data at a Chinese supermarket for various products.  Read this csv into a dataframe called df_data and use the head() method to check that you have read in the data correctly. Make sure you import pandas.

In [30]:
import pandas as pd

# Read CSV into DataFrame
df_data = pd.read_csv("Purchase_Data.csv")

# Check first few rows
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

Use the dtypes attribute to view how each column is stored

In [31]:
print(df_data.dtypes)

invoice_number    float64
invoice_time       object
store_id           object
product_id          int64
category_id         int64
num_item          float64
price             float64
dtype: object

Slice the first two columns using .loc and store the result in a variable called result_1.

In [32]:
# Slice the first two columns
result_1 = df_data.loc[:, :'invoice_time']

# Print the result to verify
print(result_1)

      invoice_number   invoice_time
0       2.020000e+11  7/15/15 10:45
1       2.020000e+11  7/15/15 12:16
2       2.020000e+11  7/15/15 12:16
3       2.020000e+11  7/15/15 12:16
4       2.020000e+11  7/15/15 12:16
...              ...            ...
5377    2.020000e+11   9/5/15 23:07
5378    2.020000e+11   9/5/15 23:23
5379    2.020000e+11   9/5/15 23:24
5380    2.020000e+11   9/5/15 23:32
5381    2.020000e+11   9/5/15 23:38

[5382 rows x 2 columns]

Slice the first two rows using .loc and store the result in a variable called result_2.

In [33]:
# Slice the first two rows
result_2 = df_data.loc[:1]

# Print the result to verify
print(result_2)

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0

   price
0    2.0
1    2.0

Slice the first four rows and the first five columns and store the result in a variable called result_3.

In [58]:
# Slice the first four rows and the first five columns
result_3 = df_data.iloc[:4, :5]

# Print the result to verify
print(result_3)

   invoice_number   invoice_time store_id  product_id  category_id
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401

Slice rows 0,4,6 and columns invoice time and price and store the result in variable called result_4.

In [59]:
# Slice rows 0, 4, 6 and columns 'invoice_time' and 'price'
rows_to_select = [0, 4, 6]
columns_to_select = ['invoice_time', 'price']
result_4 = df_data.loc[rows_to_select, columns_to_select]

# Print the result to verify
print(result_4)

    invoice_time  price
0  7/15/15 10:45    2.0
4  7/15/15 12:16    6.0
6  7/15/15 15:28    2.0

Store the number rows in a variable called num_rows.

In [60]:
# Store the number of rows
num_rows = len(df_data)

# Print the number of rows to verify
print(num_rows)

5382

Print out the last row of the data to dataframe. **Hint:** use the variable num_rows from the previous exercise.

In [61]:
# Print the last row
last_row = df_data.iloc[num_rows - 1]

# Print the last row
print(last_row)

invoice_number    202000000000.0
invoice_time        9/5/15 23:38
store_id                    G619
product_id              23030206
category_id               210101
num_item                     1.0
price                        2.0
Name: 5381, dtype: object

# Part 2

Compute the average and max price charged.  Store the results in variables called avg_price and max_price

In [62]:
# Compute the average and max price charged
avg_price = df_data['price'].mean()
max_price = df_data['price'].max()

# Print the results
print("Average price charged:", avg_price)
print("Max price charged:", max_price)

Average price charged: 3.1920522110741363
Max price charged: 6.01

Compute the average price and average number of items purchased with only a single call to the mean() method. Store these averages in avg_price and avg_num_items.

In [63]:
# Compute average price and average number of items purchased
avg_price, avg_num_items = df_data[['price', 'num_item']].mean()

# Print the results
print("Average price:", avg_price)
print("Average number of items purchased:", avg_num_items)

Average price: 3.1920522110741363
Average number of items purchased: 1.2983091787439613

Create a column called "total", which is the product of the price and num_item columns.

In [64]:
# Create a column 'total' as the product of 'price' and 'num_item'
df_data['total'] = df_data['price'] * df_data['num_item']

# Print the head of the DataFrame to verify the new column
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price  total
0    2.0    2.0
1    2.0    2.0
2    2.0    2.0
3    6.0    6.0
4    6.0    6.0

What is the avgerage price of the three most expensive purchases?

In [65]:
# Average price of the three most expensive purchases
avg_top_3_price = df_data.nlargest(3, 'price')['price'].mean()

# Print the average price of the three most expensive purchases
print("Average price of the three most expensive purchases:", avg_top_3_price)

Average price of the three most expensive purchases: 6.003333333333333

How many different products are there?

In [66]:
# Number of different products
num_unique_products = df_data['product_id'].nunique()

# Print the number of different products
print("Number of different products:", num_unique_products)

Number of different products: 53

Find the difference between the mean and median of the column total.  Use the describe() method and then index the dataframe it returns.

In [67]:
# Use describe() method to get summary statistics including mean and median
summary_stats = df_data['total'].describe()

# Calculate the difference between mean and median
mean_median_diff = summary_stats['mean'] - summary_stats['50%']

# Print the difference between mean and median
print("Difference between mean and median of 'total' column:", mean_median_diff)

Difference between mean and median of 'total' column: 0.9318078781127839

Use the drop() method to delete the column total from the dataframe df_data.

In [68]:
# Drop the 'total' column from df_data
df_data.drop(columns=['total'], inplace=True)

# Print the head of the DataFrame to verify the column deletion
print(df_data.head())

   invoice_number   invoice_time store_id  product_id  category_id  num_item  \
0    2.020000e+11  7/15/15 10:45     G816     7000300       210101       1.0
1    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
2    2.020000e+11  7/15/15 12:16     G816     7070884        70203       1.0
3    2.020000e+11  7/15/15 12:16     G816     7070891        70401       1.0
4    2.020000e+11  7/15/15 12:16     G816     7090363        70401       1.0

   price
0    2.0
1    2.0
2    2.0
3    6.0
4    6.0

Let's dig a little deeper into the data set and answer some basic question.

In [44]:
#Write your code here

First, covert the column invoice time to a datetime column. Print out the new column types to make sure this was done correctly

In [71]:
# Convert 'invoice_time' column to datetime
df_data['invoice_time'] = pd.to_datetime(df_data['invoice_time'])

# Print the new column types to verify the conversion
print(df_data.dtypes)

invoice_number           float64
invoice_time      datetime64[ns]
store_id                  object
product_id                 int64
category_id                int64
num_item                 float64
price                    float64
dtype: object

Next, let's create columns called "DOW" and "Month", which store the corresponding weekday and month of the invoice respectively.  Print the head of the dataframe to make sure this was done correctly.

In [72]:
# Create columns 'DOW' and 'Month'
df_data['DOW'] = df_data['invoice_time'].dt.day_name()
df_data['Month'] = df_data['invoice_time'].dt.month_name()

# Print the head of the DataFrame to verify the new columns
print(df_data.head())

   invoice_number        invoice_time store_id  product_id  category_id  \
0    2.020000e+11 2015-07-15 10:45:00     G816     7000300       210101
1    2.020000e+11 2015-07-15 12:16:00     G816     7070884        70203
2    2.020000e+11 2015-07-15 12:16:00     G816     7070884        70203
3    2.020000e+11 2015-07-15 12:16:00     G816     7070891        70401
4    2.020000e+11 2015-07-15 12:16:00     G816     7090363        70401

   num_item  price        DOW Month
0       1.0    2.0  Wednesday  July
1       1.0    2.0  Wednesday  July
2       1.0    2.0  Wednesday  July
3       1.0    6.0  Wednesday  July
4       1.0    6.0  Wednesday  July

Create a variable called num_purchases_wed, which stores the number of purchases made on Wednesday?  You should use value_counts and then index the series it return.

In [73]:
# Count the number of purchases made on each day of the week
day_counts = df_data['DOW'].value_counts()

# Get the number of purchases made on Wednesday
num_purchases_wed = day_counts.get('Wednesday', 0)

# Print the number of purchases made on Wednesday
print("Number of purchases made on Wednesday:", num_purchases_wed)

Number of purchases made on Wednesday: 959

# Part 3

In this set of practice exercises, we will be working with a demographic data regarding the passengers aboard the Titanic.  Read in the data frame and use the head() method to check that it was read in correctly.

In [75]:
import pandas as pd

# Read in the Titanic dataset
df_titanic = pd.read_csv('Titanic.csv')  # Replace 'titanic_data.csv' with your file path

# Check the first few rows of the DataFrame
print(df_titanic.head())

   PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

Use the rename method to change the column "Name" to "Passenger_Name" and the column "Ticket" to "Ticket_Num".

In [76]:
# Rename columns 'Name' to 'Passenger_Name' and 'Ticket' to 'Ticket_Num'
df_titanic = df_titanic.rename(columns={'Name': 'Passenger_Name', 'Ticket': 'Ticket_Num'})

# Print the head of the DataFrame to verify the column names
print(df_titanic.head())

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

Change the index of the df_titanic to the column PasengerID.

In [96]:
# Change the index of df_titanic to the column 'PassengerId'
df_titanic.set_index('PassengerId', inplace=True)

# Print the head of the DataFrame to verify the index change
print(df_titanic.head())

             Pclass                                Passenger_Name     Sex  \
PassengerId
892               3                              Kelly, Mr. James    male
893               3              Wilkes, Mrs. James (Ellen Needs)  female
894               2                     Myles, Mr. Thomas Francis    male
895               3                              Wirz, Mr. Albert    male
896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

              Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
PassengerId
892          34.5      0      0     330911   7.8292   NaN        Q
893          47.0      1      0     363272   7.0000   NaN        S
894          62.0      0      0     240276   9.6875   NaN        Q
895          27.0      0      0     315154   8.6625   NaN        S
896          22.0      1      1    3101298  12.2875   NaN        S

Select the name of passenger 896

In [78]:
# Select the name of passenger with PassengerId 896
passenger_name_896 = df_titanic.loc[896, 'Passenger_Name']

# Print the name of the passenger
print("Name of passenger with PassengerId 896:", passenger_name_896)

Name of passenger with PassengerId 896: Hirvonen, Mrs. Alexander (Helga E Lindqvist)

Change the index back to row numbers but making sure that we don't lose the PassengerId column.

In [93]:
# Reset the index of df_titanic to row numbers
df_titanic.reset_index(inplace=True)

# Print the head of the DataFrame to verify the index reset
print(df_titanic.head())

# If needed, set the 'PassengerId' column back as a regular column
# df_titanic.set_index('PassengerId', inplace=True)

   PassengerId  Pclass                                Passenger_Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
0  34.5      0      0     330911   7.8292   NaN        Q
1  47.0      1      0     363272   7.0000   NaN        S
2  62.0      0      0     240276   9.6875   NaN        Q
3  27.0      0      0     315154   8.6625   NaN        S
4  22.0      1      1    3101298  12.2875   NaN        S

How many missing entries are there in the Age column? Use the isnull() method and recall than Booleans are exactly like 1s (True) and 0s (False).

In [97]:
# Count the number of missing entries in the 'Age' column
missing_age_count = df_titanic['Age'].isnull().sum()

# Print the number of missing entries
print("Number of missing entries in the 'Age' column:", missing_age_count)

Number of missing entries in the 'Age' column: 86

Compute the avg age of passengers ignoring the missing data.

In [98]:
# Compute the average age of passengers ignoring missing data
avg_age_without_missing = df_titanic['Age'].mean()

# Print the average age
print("Average age of passengers (ignoring missing data):", avg_age_without_missing)

Average age of passengers (ignoring missing data): 30.272590361445783

Using the fillna() method replace the missing values in the Age column with the mean.

In [99]:
# Calculate the mean age without missing values
mean_age = df_titanic['Age'].mean()

# Replace missing values in the 'Age' column with the mean
df_titanic['Age'].fillna(mean_age, inplace=True)

# Print the head of the DataFrame to verify the changes
print(df_titanic.head())

             Pclass                                Passenger_Name     Sex  \
PassengerId
892               3                              Kelly, Mr. James    male
893               3              Wilkes, Mrs. James (Ellen Needs)  female
894               2                     Myles, Mr. Thomas Francis    male
895               3                              Wirz, Mr. Albert    male
896               3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

              Age  SibSp  Parch Ticket_Num     Fare Cabin Embarked
PassengerId
892          34.5      0      0     330911   7.8292   NaN        Q
893          47.0      1      0     363272   7.0000   NaN        S
894          62.0      0      0     240276   9.6875   NaN        Q
895          27.0      0      0     315154   8.6625   NaN        S
896          22.0      1      1    3101298  12.2875   NaN        S

What is the average age of the 5 oldest passengers? The reset_index method will be helpful here.

In [100]:
# Sort the DataFrame by 'Age' in descending order to get the oldest passengers at the top
df_sorted_age = df_titanic.sort_values(by='Age', ascending=False)

# Take the first 5 rows to get the 5 oldest passengers
oldest_passengers = df_sorted_age.head(5)

# Calculate the average age of the 5 oldest passengers
avg_age_oldest = oldest_passengers['Age'].mean()

# Print the average age of the 5 oldest passengers
print("Average age of the 5 oldest passengers:", avg_age_oldest)

Average age of the 5 oldest passengers: 67.0